.crossword__controls {
    display: block;
    margin-bottom: $gs-baseline / 2;

    .button {
        @include fs-textSans(4);
        margin-bottom: $gs-baseline;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 0.8rem;
    }

    .button--primary {
        background: transparent;
        border: 1px solid $brightness-20;
        color: $brightness-20;
        &:hover,
        &:visited,
        &:focus {
            background-color: $brightness-20;
            border-color: $brightness-20;
            color: white;
        }
    }

    .button--secondary {
        color: $brightness-46;
        background: $brightness-93;
        border: 1px solid $brightness-60;
        &:hover,
        &:visited,
        &:focus {
            background-color: darken($brightness-93, 10%);
            border-color: darken($brightness-93, 10%);
        }
    }

    .button--secondary.crossword__controls__button--confirm {
        background-color: $lifestyle-main;
        color: $brightness-100;
        border: 0;
    }
}

.crossword__controls__clue .button:last-child {
    margin-right: 0;
}
