// https://github.com/annamatveev/react-table-material/blob/master/Table.css
/*
.ReactTable .rt-resizable-header-content {
    font-weight: normal;
    font-size: 12px;
    padding-right: 24px;
    height: 56px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(158, 158, 158);
    position: relative;
    background-color: inherit;
    text-align: left;
}

.ReactTable .rt-tr {
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: inherit;
}

.ReactTable .rt-td {
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: inherit;
}

.ReactTable .rt-tbody .rt-td {
    border-right: unset;
}

.ReactTable .rt-tr-group {
    border-bottom: 1px solid rgb(188, 188, 188);
}

.ReactTable .rt-tr-group:hover {
    background-color: #eeeeee;
}

.ReactTable .rt-table {
    border-radius: 0 0 2px;
    padding: 14px 24px 24px;
    margin: 0;
}

.ReactTable .rt-thead.-header {
    box-shadow: unset;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
    border: unset;
}

.ReactTable {
    border: unset;
}

.ReactTable .-pagination {
    box-shadow: unset;
    border: unset;
    padding-left: 24px;
    padding-right: 24px;
    height: 70px;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: inherit;
}

.ReactTable .-pagination .-btn {
    width: 45%;
    height: 45%;
    margin: 0 auto;
}

.ReactTable .-pagination div {
    align-self: flex-start;
    align-items: center;
}
.ReactTable .-pagination .-center {
    flex: 2;
}

.rt-th input {
    max-width: 150px;
    float: left;
}

.select-wrap.-pageSizeOptions select {
    background: transparent;
    border: none;
    cursor: pointer;
}

.-pageJump input {
    background-color: rgba(0, 0, 0, 0.5);
}
*/

// https://github.com/tannerlinsley/react-table/issues/444
.ReactTable .rt-resizable-header {
    padding: 6px 24px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ReactTable .rt-resizer:before {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 3px;
    height: 18px;
    width: 18px;
    color: transparent;
    content: '.';
    background-size: 18px 18px;
    background-repeat: no-repeat;
    opacity: 0.87;
}

.ReactTable .rt-resizable-header-content:after {
    position: absolute;
    right: 8px;
    top: 3px;
    height: 18px;
    width: 18px;
    z-index: 120;
    color: transparent;
    content: '.';
}

.ReactTable .rt-th.-sort-asc .rt-resizer:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgMTVWNmw0IDQgMS0xLTYtNi02IDYgMSAxIDQtNHY5eiIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==);
}

.ReactTable .rt-th.-sort-desc .rt-resizer:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOCAzdjkuMTNMNCA4IDMgOWw2IDYgNi02LTEtMS00IDQuMTNWM3oiIGZpbGw9IiMzMzMiLz48L3N2Zz4=);
}

/* make sure the editable links are dashed */
.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

button.editable-clear {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.editable-clear {
    opacity: 0.5;
    align-items: center;
    // background: #cecece;
    // border-radius: 50%;
    // color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    height: 24px;
    width: 24px;
    bottom: 4px;
    right: 1em;
}

.editable-clear:hover {
    opacity: 1;
}
